.mm-root {
    display:block;
    border:1px solid black;
    margin-left:10px;
    margin-top:10px;
    border-radius:3px;
    position:relative;
}

.mm-inner {
    overflow:hidden;
    width:inherit;
    height:inherit;
}

.hidden {
    display:none;
}

/* Widgets */
.mm-view-widget, .mm-edit-widget {
    position:absolute;
    top:3px;
    left:3px;
    border-radius:10px;
    padding:5px;
    background-color:#eeeeff;
    display:inline-block;
}

.mm-view-widget a, .mm-edit-widget a {
    border-radius:10px;
    background-color:#ccccdd;
    width:20px;
    display:inline-block;
    text-align:center;
    cursor:pointer;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mm-edit-widget {
    left:inherit;
    right:3px;
}

/* Details panel */
.mm-details-panel {
    position:absolute;
    bottom:3px;
    left:3px;
    border-radius:10px;
    padding:5px;
    background-color:#eeeeff;
    display:inline-block;
    min-width:20%;
    max-width:50%;
}

.mm-details-panel.hidden {
    display:none;
}

.mm-details-panel.hidden.long {
    display:inherit;
}

.mm-details-panel .mm-details-long {
    display:none;
}

.mm-details-panel.long .mm-details-long {
    display:inherit;
}

/** Help panel thing */
.mm-edit-help {
    position:absolute;
    width:100%;
    height:100%;
    z-index:1;
    background-color:#eeeeff;
}

.mm-edit-help-content {
    padding:5px;
}

/* Hide editor bits */
.mm-noedit .link-tools {
    visibility:hidden;
}

.mm-noedit .marker-vertices {
    visibility:hidden;
}
