.mm-root {
    display:block;
    border:1px solid black;
    margin-left:10px;
    margin-top:10px;
    border-radius:3px;
    position:relative;
}

.mm-inner {
    overflow:hidden;
    width:inherit;
    height:inherit;
    background-color:#eeeeee;
}

.mm-inner svg {
    background-color:#ffffff;
    border:1px solid #eeeeee;
    margin:50px;
}

.hidden {
    display:none;
}

/* Widgets */
.mm-view-widget, .mm-edit-widget, .mm-resize {
    position:absolute;
    top:3px;
    left:3px;
    border-radius:10px;
    padding:5px;
    background-color:#eeeeff;
    display:inline-block;
}

.mm-view-widget a, .mm-edit-widget a, .mm-resize a {
    border-radius:10px;
    background-color:#ccccdd;
    width:20px;
    display:inline-block;
    text-align:center;
    cursor:pointer;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mm-edit-widget {
    left:inherit;
    right:3px;
}

/* Details panel */
.mm-details-panel {
    position:absolute;
    bottom:3px;
    left:3px;
    border-radius:10px;
    padding:5px;
    background-color:#eeeeff;
    display:inline-block;
    min-width:20%;
    max-width:50%;
}

.mm-details-panel.hidden {
    display:none;
}

.mm-details-panel.hidden.long {
    display:inherit;
}

.mm-details-panel .mm-details-long, .mm-details-panel .mm-details-edit {
    display:none;
}

.mm-noedit .mm-details-panel.long .mm-details-long {
    display:inherit;
}

.mm-noedit .mm-details-panel .mm-details-edit-arrow {
    display:none;
}

.mm-noedit .connection-wrap, .mm-noedit .marker-arrowheads {
    display:none;
}

.mm-edit .mm-details-panel.long .mm-details-edit {
    display:inherit;
}

.mm-edit .mm-details-panel.edge .mm-details-edit {
    display:none;
}

.mm-edit .mm-details-panel .mm-details-edit-arrow {
    display:none;
}

.mm-edit .mm-details-panel.edge .mm-details-edit-arrow {
    display:inherit;
}

/** Help panel thing */
.mm-edit-help {
    position:absolute;
    width:100%;
    height:100%;
    z-index:1;
    background-color:#eeeeff;
}

.mm-edit-help-content {
    padding:5px;
}

.mm-edit-help-content .left {
    float:left;
    width:60%
}

.mm-edit-help-content .right {
    float:right;
    width:40%;
}

.mm-edit-help-content ul {
    list-style-type: none;
    padding:3px;
}

.mm-edit-help-content li {
    margin-bottom:10px;
}

/* Hide editor bits */
.mm-root .link-tools {
    visibility:hidden;
}

.mm-noedit .marker-vertices {
    visibility:hidden;
}

.mm-noedit svg .outPorts {
    visibility:hidden;
}

/* Joint stuff */
.mm-root .marker-vertex-remove-area, .mm-root .marker-vertex-remove {
    visibility:hidden;
}

/* Resize Widgets */
.mm-resize-container-hor {
    position: absolute;
    left: 50%;
}

.mm-resize-container-ver {
    position: absolute;
    top: 50%;
}

.mm-resize {
    position:relative;
    overflow:hidden;
    top:inherit;
    left:inherit;
}

.mm-resize-top {
    top:3px;
    left:-50%;
}

.mm-resize-bottom {
    left:-50%;
}

.mm-resize-bottom-cont {
    bottom:3px;
}

.mm-resize-left {
    left:3px;
    top:-50%;
}

.mm-resize-right {
    top:-50%;
}

.mm-resize-right-cont {
    right:3px;
}
